.container {
    width: 100%;
    margin: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media screen and (max-width: 34.375em) {
        margin: 1rem 0;
    }
}

.title {
    flex: 1;
    margin-right: 2rem;
    max-width: 11.25rem;

    div {
        width: 2.375rem;
        height: 0.1875rem;
        margin-bottom: 0.25rem;
        background: var(--gradient-bar);
        box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    }

    h1 {
        font-weight: 800;
        color: #ffffff;
        font-size: 1.125rem;
        line-height: 1.5rem;
        letter-spacing: -0.04em;

        @media screen and (max-width: 34.375em) {
            font-size: 0.875rem;
            line-height: 1.375rem;
        }
    }
}

.description {
    flex: 2;
    display: flex;
    margin-top: 1.3rem;
    max-width: 24.375rem;

    p {
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 1.5rem;
        color: var(--color-text);

        @media screen and (max-width: 34.375em) {
            font-size: 0.75rem;
            line-height: 1.25rem;
        }
    }
}
