.container {
    display: none;
    margin-left: 1rem;
    position: relative;

    @media screen and (max-width: 65.6em) {
        display: flex;
    }
}

.wrapper {
    right: 0;
    top: 2.5rem;
    display: flex;
    padding: 2rem;
    text-align: end;
    margin-top: 1rem;
    position: absolute;
    min-width: 13.125rem;
    align-items: flex-end;
    flex-direction: column;
    border-radius: 0.3125rem;
    justify-content: flex-end;
    background: var(--color-footer);
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);

    @media screen and (max-width: 34.375em) {
        top: 1.25rem;
    }
}

.links {
    flex-direction: column;

    li {
        margin: 0.7rem 0;
    }
}

.authBtns {
    display: none;
    align-items: flex-end;

    @media screen and (max-width: 65.6em) {
        flex-direction: column;
    }

    @media screen and (max-width: 34.375em) {
        display: block;
    }

    & > * {
        margin: 0.7rem 0;
    }
}
